<nav class="flex bg-white items-center navigation justify-end border-b-2 tablet:py-5 py-9 desktop::px-80 px-32 border-gray-50 relative">
    <img src="assets/images/logos/principal_logo.png" alt="logo principal" class="w-20 absolute desktop-hd:left-80 desktop:left-32 tablet:left-32 left-[40%]  top-2 z-[9999]">
    <div class="flex justify-between items-center gap-20">
        <ul class="tablet:flex hidden justify-between gap-4 ">
            <li *ngFor="let item of dataNavBar" class="text-degrade text-sm rounded-xl hover:font-medium"> {{ item.nombre }} </li>
        </ul>
    </div>
</nav>

<div class="w">

</div>
